{% extends 'base.html' %}

{% block title %}Home - Code-Cook{% endblock %}

{% block content %}
<div class="jumbotron bg-light p-5 rounded-lg text-center">
    <h1 class="display-4 text-primary">Welcome to Code-Cook!</h1>
    <p class="lead">Discover delicious and personalized recipes tailored to your tastes.</p>
    <hr class="my-4">
    <p>Select an option from the top menu to start your culinary journey.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'recipes_list' %}" role="button">Explore Recipes</a>
</div>
{% endblock %}
